body {
	background-color: black;
	background-image: url('../images/bg_compressed.jpg');
	background-size: cover;
	background-position: center bottom;
}

.typeface {
	font-family: 'Roboto', cursive;
}

.dropshadow {
	text-shadow: 1px 1px 3px black;
}

.primary {
	font-size: 48px;
}

.subtitle {
	font-size: 20px;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

h2 {
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	color: white;
}

.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-layout__drawer {
	background-color: #f0f0f0;
}

.mdl-mini-footer {
	padding: 16px 16px;
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 100%;
	opacity: 0.85;
	background-color: black; 
}

.cd-date {
	color: black;
	text-shadow: 1px 1px 0.5px white;
	font-family: 'Roboto', cursive;
}

.image-me {
	width: 50%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid white;
}

.contactcharms {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	text-align: center;
}

.charm {
	display: inline;
	margin: auto;
}

.timelinedesc {
	margin: 10px;
}
