body {
	background-color: black;
	background-image: url('../images/bg_2880.jpg');
	background-size: cover;
	background-position: center bottom;
}

.typeface {
	font-family: 'Roboto', cursive;
	color: white;
	color: white
}

.dropshadow {
	text-shadow: 1px 1px 3px black;
}

.primary {
	font-size: 48px;
}

.subtitle {
	font-size: 36px;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
}

h2 {
	margin: 2px;
}

.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-layout__drawer {
	background-color: #f0f0f0;
}

.mdl-mini-footer {
	padding: 16px 16px;
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 100%;
	opacity: 0.5;
	background-color: black; 
}
